CompileFlags:
  Add :
    - "-xc++"
    - "-std=c++11"
    - "-I/home/michal/robots/hex_bm/hex/Eigen"
    - "-D__ARMCOMPILER_VERSION=6220000"
    - "-D_LIBCPP_HAS_NO_THREADS"
    - "-D_LIBCPP_HARDENING_MODE_DEFAULT=_LIBCPP_HARDENING_MODE_NONE"
    - "-D_LIBCPP_HARDENING_MODE=_LIBCPP_HARDENING_MODE_DEFAULT"
    - "-D_LIBCPP_HAS_NO_VENDOR_AVAILABILITY_ANNOTATIONS"
    - "-D__ARMCOMPILER_LIBCXX=1"
    - "-D__ARM_PROMISE=__builtin_assume"
